<!-- your html code here -->
<h3>CONTACT</H3>
<h5>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisi consectetur. Fusce dapibus, tellus ac cursus commodo.</h5>
<div class="container-fluid">
    <div class="card justify-content-center mx-auto w-50 bg-ligth">
        <div class="container-fluid">
            <div class="row g-3 d-flex justify-content-center mt-2">
              <div class="col-2 d-flex justify-content-end">
                <label for="inputPassword24" class="col-form-label justify-content-start"><b>Your Email</b></label>
              </div>
              <div class="col-6">
                <input type="password" id="inputPassword24" class="form-control" aria-describedby="passwordHelpInline">
              </div>
            </div>
            <div class="row g-3  mt-1 d-flex justify-content-center" >
              <div class="col-2 d-flex justify-content-end">
                <label for="exampleFormControlTextarea1" class="col-form-label"><b>Your Message</b></label>
              </div>
              <div class="col-6">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
            <div class="d-flex align-items-end flex-column p-3 col-10 mt-3">
                <button type="button" class="btn btn-primary"><b>Submit</b></button>
        
            </div>
        </div>
    </div>

</div>

<!-- <div class="card" style="width: 18rem;">
  <div class="card-body">
    
  </div> -->
</div>